<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TmriOutAccessSoapBinding" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.254:9080/monweb/services/TmriOutAccess"
                binding="basicHttpBinding" bindingConfiguration="TmriOutAccessSoapBinding"
                contract="TMRIOutAccess.TmriJaxRpcOutAccess" name="TmriOutAccess" />
        </client>
    </system.serviceModel>
</configuration>